In [4]:
import pandas as pd
import numpy as np
from scipy.spatial import distance
from collections import Counter

df_data = pd.read_csv('Datamat.csv')
test = pd.read_csv('Querymat.csv')
df_data.columns = ['X', 'Y', 'Class']


df_data.head()

         X       Y  Class
0   1.5844  34.234      1
1  36.2470  22.155      2
2   7.2079  21.783      2
3  31.7960  39.651      3
4  39.4920  40.778      1

In [5]:
class_train = df_data['Class']
x_train = df_data.drop(columns='Class')

x_train.head()

         X       Y
0   1.5844  34.234
1  36.2470  22.155
2   7.2079  21.783
3  31.7960  39.651
4  39.4920  40.778

In [6]:
def My_KNN(test, K, x_train, class_train):
    main_result = []
    for i in range(len(test)):
        dominant = []
        point_distance = []
        for j in range(len(x_train)):
            distance_ = distance.euclidean(test.iloc[i], x_train.iloc[j])
            point_distance.append([distance_, j])
            point_distance.sort()
            point_distance = point_distance[0:K]

        for l, k in point_distance:
            dominant.append(class_train.iloc[k])

            main_result.append(Counter(dominant).most_common(1)[0][0])

    return main_result


y_predict = My_KNN(test, 3, x_train, class_train)
y_predict

[2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 3,
 3,
 3,
 1,
 1,
 1,
 3,
 3,
 3,
 1,
 1,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 1,
 1,
 1,
 3,
 3,
 3,
 2,
 2,
 2,
 3,
 3,
 2]